body{
    font: 18px Arial;
    background: url(../images/fondo.jpg);
    
}

h1{
    text-align: center;

}

form{
    background-color: rgb(81, 179, 166);
    width: 101%;
}

input{
    margin-left:20px;
    margin-top:10px;
    margin-bottom:5px;
    margin-right:170px;
}
input:valid,
textarea:valid {
    border-color: rgb(5, 163, 5);
}

input:invalid,
textarea:invalid {
    border-color:red;

}

#boton_enviar{
    position: absolute;
    margin-left: 20%;
    margin-top: -80px;
    font-size: 20px;
    color:#d8d8d8;
    background-color: rgb(62, 102, 211);
    padding:10px;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    z-index: 1;
    width: 15%;

}

#boton_borrar{
    position: absolute;
     float: right;
     margin-left: 289px;
     margin-top: -20px;
     font-size: 20px;
     color:#d8d8d8;
    background-color: rgb(221, 52, 22);
    padding:10px;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    z-index: 1;
    width: 15%;
}

#nombre{
    margin-right: 157px;
    margin-left: 36px;
}
#direccion{
    margin-right: 156px;
    margin-left: 30px;
}
#correo{
    margin-right: 157px;
    margin-left: 62px;

}
#telefono_fijo{
    margin-right: 213px;
    margin-left: 12px ;

}


#apellidos{
    
    margin-left: 52px;
}

#telefono_movil{
    margin-left: 66px;
}
#sexo{
    margin-left: 85px;

}
.fondoformulario{
    height: 100%;
    width: 100%;
   align-items: center;
}