body{
    font: 18px Arial;
    background-color: rgb(114, 114, 114);
    
}

h1{
    text-align: center;

}

form{
    background-color: rgb(81, 179, 166);
    width: 101%;
}

input{
    
    margin-left:20px;
    margin-top:10px;
    margin-bottom:5px;
    margin-right:170px;
}
input:valid,
textarea:valid {
    
    border-color: rgb(5, 163, 5);
}

input:invalid,
textarea:invalid {
    border-color:red;

}

#boton_enviar{
    position: absolute;
    margin-left: 640px;
    margin-top: 20px;
    font-size: 20px;
    color:#d8d8d8;
    background-color: rgb(62, 102, 211);
    padding:20px;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    z-index: 1;

}

#boton_borrar{
     position: absolute;
     margin-left: 100px;
     margin-top: 20px;
     font-size: 20px;
     color:#d8d8d8;
    background-color: rgb(221, 52, 22);
    padding:20px;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    z-index: 1;
}

#telefono_fijo{
    margin-right: 220px;
}

#correo{
    margin-right: 193px;
}

#nombre{
    margin-right: 174px;
}
