div#footer {
    width:100%;
    background-size: cover;
    background-color: #f0e2e0;
    height: 75px;
    font-family: "Verdana";
    text-align: center;
    padding-bottom: 20px; 
    padding-bottom: 20px;
}