div#contenedor {
    width:100%;
    background: #f0e2e0;
    text-align: center;
    position: fixed;

}

.site_name {
    font-family: verdana, sans sherif;

}

.site_desc {
    font-family: verdana, sans sherif;

}

