header {
    width:100%;
    background-size: 250px, 50px; 
    /*background-color: #e0c4c0; */
    background: linear-gradient(#d8bcbcef,  #ecc5bf);
    height: 125px;
    font-family: "Verdana";
    text-align: center;
    /*position: fixed; */

    }

.searching{
        margin-left: 720px;
}

.site_name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(184, 129, 129);
    font-weight: 700;
	font-size: 1.3em;
    text-align: center;
    padding-top: 15px;
   /* padding-bottom:5px;*/
    text-shadow: 2px 2px 4px rgba(231, 110, 54, 0.767);

}

.site_desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(143, 113, 113);
    font-weight: 400;
	font-size: 0.7em;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: saddlebrown;
}


.imagen_header {
    height: 67%;
    width:  50 px;
    float: left;
  
} 

@media (max-width: 768px) {
    .divresponsive1 {
        margin-top: 20px;
        width: 298px;
        height: 168px;
        margin-left: 100px;
    }
    .searching{
        display: none;
    }
}


