footer {
    width:100%;
    height: 30px;
    background-color: #f0e2e0;
    font-family: Verdana;
    color: rgb(143, 113, 113);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px; 
    /* display: inline; */
}
/*
.caja_texto{
    text-align: center;
    font-family: Verdana;
    color: rgb(143, 113, 113);
  
}*/

.iconos_redes{
    height: 5px;
    width: 10 px;
}