p {
    text-align: justify;
   width: 50%;
   font-size: 17px ;
   margin-left: 40px;
   font-weight: bold;
   }

h2 { 

   font-family: Verdana;
   font-size: 25px ;
   text-decoration: underline;
   color: rgb(66, 79, 196);
   margin-top: 2% ;
   margin-left: 2%;

   }
   h3{
       font-family: verdana;
       font-size: 20px ;
       text-decoration:underline ;
       color: rgb(66, 79, 196);
       margin-top: 2% ;
       margin-left: 2%;

   }
   .foto{
       position: absolute;
       left: 850px;
       top: 200px ;
      
   } 
   body{
       
       background-size: cover;
       height: 100%;
         

   }
   p{
       margin-top: 1%;
   
   };
   .margenfinal{
       padding-bottom: 5%;
   }
   @media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
main {
    padding: 0 3rem;
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
}
main *:last-child {
  margin-bottom: 0;
}

.back-to-top-wrapper {
  position: absolute;
  top: 90vh;
  right: 3rem;
  bottom: -5rem;
  width: 3rem;
  pointer-events: none;
}

.back-to-top-link {
  position: fixed;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.25rem;
  border: 1px solid #254568;
  background-color: #d6e3f0;
  transition: transform 80ms ease-in;
}
.back-to-top-link:hover, .back-to-top-link:focus {
  transform: scale(1.1);
}
.back-to-top-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #4e85c0;
}