.comentario {
   text-align: justify;
   width: 50%;
   font-size: 17px ;
   padding:5px;
   margin-left: 40px;
   font-weight: bold;
   box-shadow: 5px 5px 10px #333;
   width: 50%;
    margin-top: 1%;

   }

h2 { 

   font-family: Verdana;
   font-size: 25px ;
   text-decoration: underline;
   color: rgb(66, 79, 196);
   margin-top: 5% ;
   margin-left: 2%;
   background-color: white;
   width:max-content;
   

   }
   h3{
       font-family: verdana;
       font-size: 20px ;
       text-decoration:underline ;
       color: rgb(66, 79, 196);
       margin-top: 2% ;
       margin-left: 2%;
       background-color: white;
       width:max-content;
       
      
   }
   .divbiografia{
     width: 40%;
     height: 100%;
     float: right;
     margin-top: 10px ;
    
   }
   .fotohistorias{
     width:70%;
        margin-top:  50px;
      margin-left: 10px;
     float: left;
     border-radius: 20px;

   }
 
   body{
       
       background-size: cover;
       height: 100%;
       margin-bottom: 200px;
         

   }
  
    
   .margenfinal{
       padding-bottom: 5%;
   }
   @media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
main {
    padding: 0 3rem;
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
}
main *:last-child {
  margin-bottom: 0;
}


@media (max-width: 768px){
  body{
    background-image: none;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    height: 100%;
    
  }
  .comentario{
    width: 70%;
    
    text-align: justify;
    margin-left: 60px;
    box-shadow: none;

  }
  .divresponsive1{
    margin-top: 20px;
    width: 298px;
    height: 168px;
    margin-left: 100px;

  background-image: url(../images/fondo_anakin.jpg) ;
  background-size: contain ;
}
.divresponsive2{
  margin-top: 20px;
  width: 298px;
  height: 168px;
  margin-left: 100px;

  background-image: url(../images/leia_fondo.jpg) ;
  background-size: contain ;
}
.divresponsive3{
  margin-top: 20px;
  width: 298px;
  height: 168px;
  margin-left: 100px;

  background-image: url(../images/lukeresponsive.jpg) ;
  background-size: contain ;
}
.divresponsive4{
  margin-top: 20px;
  width: 250px;
  height: 162px;
  margin-left: 100px;

  background-image: url(../images/obiwan_kenobi_fondo.jpg) ;
  background-size: contain ;
}

    
    

}
