header {
    width:100%;
    background-size: 250px, 50px;
    background-color: #f0e2e0;
    height: 75px;
    font-family: "Verdana";
    text-align: center;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px; 
    }


.site_name {
    font-family: Verdana;
    color: rgb(184, 129, 129);
    font-weight: 700;
	font-size: 1.2em;
    text-align:center;

}

.site_desc {
    font-family: Verdana;
    color:rgb(143, 113, 113);
    font-weight: 300;
	font-size: 0.8em;

}


.div_imagen_header {
    width: 50px;
    height: 35px;
    float: right;
    margin-top: 0px;
    margin-right: 30 px;
}

.imagen_header {
    width: 100%;
    height:100%;
    margin-top:  3px;
    margin-left: 3px;
    float: left;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .divresponsive1 {
        margin-top: 20px;
        width: 298px;
        height: 168px;
        margin-left: 100px;
    }
}


