p {
    text-align: justify;
   width: 50%;
   font-size: 17px ;
   margin-left: 40px;
   font-weight: bold;
   }

h2 { 

   font-family: Verdana;
   font-size: 25px ;
   text-decoration: underline;
   color: rgb(66, 79, 196);
   margin-top: 2% ;
   margin-left: 2%;

   }
   h3{
       font-family: verdana;
       font-size: 20px ;
       text-decoration:underline ;
       color: rgb(66, 79, 196);
       margin-top: 2% ;
       margin-left: 2%;

   }
   .foto{
       position: absolute;
       left: 850px;
       top: 200px ;
      
   } 
   body{
       
       background-size: cover;
       height: 100%;
         

   }
   p{
       margin-top: 1%;
   
   };
   .margenfinal{
       padding-bottom: 5%;
   }