body{
    background-image: none;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    height: 100%;
    
  }
div#contenedor {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    margin-bottom: 10px;
    padding: 10px;
    /*border: 2px solid #006;*/
}

/*---------------SECTION------------------*/
section {
    /*border: 1px solid greenyellow;*/
    margin-top: 17px;
    margin-left: 4px;
    max-width: 70%;
    float: left;
}
section div {
    background-color: black;
    height: 102px;
}
/*---------------SECTION -> ARTICLE ------------------*/
article {
    margin-left: 14px;
    /*border: 1px solid blue;*/
    margin-top: 13px;
    margin-bottom: 13px;
    max-width: 95%;
    background-color: black;
    background: -webkit-linear-gradient( 50deg, blue, black, red);
}

footer{
    clear: both;
}

div img {
    margin-top: 20px;
    margin-left: 6px;
}
span#choose{
        position: absolute;
        margin-left: 50px;
        font-size: 27px;
        margin-top: 37px;
        color: yellow;
        font-family: sans-serif;
        white-space: nowrap;
}
#ImageSith{
    width: 50%;
    margin-top: 4px;
    float: left;
    margin-left: 4px;
    margin-right: 10px;
}

div#Sith {
    border: 2px solid;
    width: 50%;
    height: 202px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(#e66465, #000000);
}
div#Jedi {
    border: 2px solid;
    width: 47%;
    height: 202px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(#64e0e6, #61719e);
}
#ImageJedi{
    width: 50%;
    margin-top: 4px;
    float: right;
    margin-left: 4px;
    margin-right: 10px;
}

.textYellow {
    font-style: oblique;
    text-align: center;
    font-family: sans-serif;
    color: yellow;
    font-weight: bold;
    text-shadow: 1px -7px 16px white;
}

h2 {
    margin-right: -5px;
    margin-top: 0px;
}

h2#red {
    color: white;
    text-shadow: 2px 2px 4px red;
}
h2#li{
    margin-right: 39px;
    color: firebrick;
    font-weight: bold;
}
ul {
    list-style: none;
    color: firebrick;
    font-weight: bold;
}

h2#blue {
    color: white;
    text-shadow: 2px 2px 4px blue;
}

ul#blue{
    color:blue;
    font-weight: bold;
}

img#redes {
    width: 85px;
}
#yoda {
    width: 58%;
    margin-left: 123px;
    height: 165px;
}
/*..................................SECTION --> NEW..................................................................*/

section > new > p {
    text-align: justify;
    padding: 16px;
    font-family: -webkit-pictograph;
    width: 52%;
    float: left;
    color: black;
    text-indent: 20px;
    background-color: white;
    border: 2px dashed wheat;
    border-radius: 40px;
    margin-left: 10px;
    margin-bottom: 200px;
}


div#banner {
    width: 235px;
    height: 282px;
    margin-top: 17px;
    float: left;
    margin-left: 10px;
    background-color: #27ff00;
    border: 2px solid;
}

div#banner p {
    text-align: center;
    font-family: -webkit-pictograph;
}

div#banner h4 {
    text-decoration: line-through;
    margin-left: 22px;
}

div#banner h4:hover {
    text-decoration: none;
    cursor: progress;
}

/*---------------------------------------------------ASIDE-------------------------------------------*/
aside {
    /*border: 1px solid red;*/
    margin-top: 17px;
    float: left;
    max-width: 26%;
    width: 26%;
    margin-left: 25px;
}
h3 {
    margin-left: 95px;
    text-decoration: underline;
    font-family: emoji;
}

input.search-field {
    padding: 6px;
    margin-left: 22px;
    margin-top: 10px;
}

img#resum {
    margin-left: 8px;
    margin-right: 10px;
    float: left;
    width: 100px;
    height: 116px;
}
aside img{
    margin-left: 30px;
    height: 221px;
}
#pform{
    padding: 6px;
    margin: 0;
    text-align: center;

}
aside ul{
    color:black !important;
}

aside ul li:hover > a {
    background-color: black;
    color: yellow;
}
aside ul li a {
    color:black;
    text-decoration: none;
}
button {
    padding: 10px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 16px;
}
h5 {
    font-size: 24px;
    letter-spacing: 4px;
    text-decoration: overline;
    text-align: center;
    margin: 8px;
    padding: 9px;
    color: white;
}

h5::first-letter{
    text-transform: uppercase;
}