* {
    /* */
    margin: 0;
    padding: 0;
    border: none;
    position: relative;

}
/*Pondremos que ocupe todo lo que pueda el menu y que se vea siempre gracias al z-index */
header{
    width:100%;
    background: #f0e2e0;
    z-index:1;
    
}
/*Haremos que desaparezca el boton y que sea visible solo cuando se minimice la pantalla */
#btn-menu {
    display: none;
   
    
}
/*todas las opciones de cada boton estando con el raton encima, pichando etc */
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right:  1px solid #f0e2e0;
    background:  #f0e2e0;
    
}
header label:hover {
    cursor: pointer;
    background: #f0e2e0;
    
}
.menu_gral {
    font-family:Arial, sans-serif, sans sherif;
    width: 100%;
    margin-left: 1.5rem;

    
}
.menu_gral ul {
    list-style-type: none; 
    text-align: center;
    font-size: 0;
    z-index:1;
}
.menu_gral > ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    background: #f0e2e0;
    
}
.menu_gral li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #444;
    
}
.menu_gral li:hover a, #menu_gral li a:focus {
    background: #82c5e4;
    color: #fff;
    
}

.menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
    
}
.menu_gral li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;

}
.menu_gral li li {
    display: block;
    width: 100%;
    
}
.menu_gral li:hover li a, #menu_gral li:focus li a {
    font-family: monospace;
    font-size: .9rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: #444;
    
}
.menu_gral li li a:hover, #menu_gral li li a:focus {
    background: #8AA9B8; 
    
}
/*Aqui pondremos las opciones para cuando la pantalla sea menor de 768px */
@media (max-width:768px){
    aside{
        display: none;
    }

    header label{
        display:block;
        
        
    }
    .menu_gral {
        /*Posicion del menu para que no sea visible  */
        position: absolute;
        background: #f0e2e0;
        width: 50%;
        margin-left: -50%;
        transition:all 0.3s;
        
    }
    .menu_gral > ul li {
        
        display:block;
        width: 100%;
        position: relative;
        background: #f0e2e0;
        
    }
    .menu_gral ul {
        
        margin:10px;
        list-style-type: none; 
        text-align: center;
        font-size: 0;
        z-index:1;
        flex-direction:row;
    }
    .menu li {
        
        border-top: 1 px solid #fff;
        position:relative;
    }
    .menu_gral > ul li {
        
        display: flex;
        width: 50%;
        position:static;
        background: #f0e2e0;
    }
    /*cuando pulsamos el boton el margin sera 0 y aparecera por la izquierda el menu*/
    #btn-menu:checked ~ .menu_gral {
        margin: 0;
    }
    .menu_gral li:hover ul, #menu_gral li:focus ul {
        width: 120%;
        margin: 0 4rem 4rem 5rem;
        padding: 0 4rem 4rem 4rem;
    }
    .menu_gral li:hover li a, #menu_gral li:focus li a {
        font-family: monospace;
        width:100%;
        font-size: .9rem;
        line-height: 2rem;
        border-top: 2px solid #e5e5e5;
        background: #444;
        
    }
}
/*Propiedades del boton de "TOP" para no usar el raton para subir hasta la parte de arriba, solo se pulsa hasta la etiqueta de top  */
.back-to-top-wrapper {
    position: absolute;
    top: 90vh;
    right: 3rem;
    bottom: -5rem;
    width: 3rem;
    pointer-events: none;
    z-index: 1;
  }
  
  .back-to-top-link {
    position: fixed;
    pointer-events: all;
    top: calc(100vh - 5rem);
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.25rem;
    border: 1px solid #254568;
    background-color: #d6e3f0;
    transition: transform 80ms ease-in;
  }
  .back-to-top-link:hover, .back-to-top-link:focus {
    transform: scale(1.1);
  }
  .back-to-top-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px #4e85c0;
  }